*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    height: 100%;
}
img{
    width:100%;
    height: auto;
}
.pimg1{
    background-image: url(images/image1.png);
    min-height:100%;
   
}
.pimg2{
    background-image: url(images/image2.png);
    min-height:500px;
   
}
.pimg3{
    background-image: url(images/image3.png);
    min-height:500px;
   
}
.pimg1,.pimg2,.pimg3{
    position: relative;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
.textbg{
    padding: 30px 40px;
    background: #000;
    font-size: 40px;
    color: #fff;
    border-radius: 5px;
}
.text_section{
    text-align:center;
    padding: 50px 80px;
}
.text_section h2{
    
    font-size: 40px;
    color: #1f1b1b;
}
hr{
    margin-bottom: 30px;
    height: 2px;
   
}
.text_section p{
    font-weight: lighter;
    line-height: 2em;
    font-size: 20px;
    letter-spacing: 1px;
}
